@yellow: #fffa19;


.margenes(@top : 0px, @bottom : 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: darkturquoise;
    .margenes(50px, 0px);
 }
  
  .imagen-banner {
    margin-bottom: 20px; }
  
  .btn {
    background-color: darkblue;
    color: ivory; }
  
  .btn-reserva {
    width: 90%; }
  
  .card {
    background-color: darkcyan;
    flex: 1 150px;
    margin-top: 1em;
    margin-left: 1em;
    color: ivory; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: goldenrod;
    .margenes (0px, 1em);
 }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  