.jumbotron {
  background-color: #fffa19;
  color: darkturquoise;
  margin-top: 50px;
  margin-bottom: 0px;
}
.imagen-banner {
  margin-bottom: 20px;
}
.btn {
  background-color: darkblue;
  color: ivory;
}
.btn-reserva {
  width: 90%;
}
.card {
  background-color: darkcyan;
  flex: 1 150px;
  margin-top: 1em;
  margin-left: 1em;
  color: ivory;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: goldenrod;
  margin-top: 0px;
  margin-bottom: 1em;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
