$yellow: #ffff19;
$red: #fc0303;
$green: #31c400;
$aquamarine: aquamarine;
$bluejumbotron: rgb(43, 46, 77);


@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron {
    background-color: $bluejumbotron;
    color: darkturquoise;
    @include margenes(50px, 10px);
    }

.imagen-banner {
    margin-bottom: 20px;
}

.btn {
    background-color: darkblue;
    color: ivory;
    }

.btn-reserva {
    width: 90%;
    }


.card {
    background-color: darkcyan;
    flex: 1 150px;
    margin-top: 1em;
    margin-left: 1em;
    color: ivory;
}



footer {
    padding: 10px 10px 0 10px;
    background-color: goldenrod;
    @include margenes(10px, 1em);
}

.footer-address-icon {
    padding-right: 10px;
    
}

.tab-content {
    padding-top: 10px;
}